{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Liste des lieux {% endblock %}

{% block body %}
    <h1>Gestion des lieux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Rue</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if lieux|length %}
            {% for i in 0..lieux|length -1 %}
            <tr class="table-{% if i%2==0 %}info{% else %}secondary{% endif %}">
                <td>{{ lieux[i].nom }}</td>
                <td>{{ lieux[i].rue }}</td>
                <td>{{ lieux[i].ville.nom }}</td>
                <td>{{ lieux[i].ville.codePostal }}</td>
                <td>{{ lieux[i].latitude }}</td>
                <td>{{ lieux[i].longitude }}</td>
                <td>
                    <a href="{{ path('lieu_edit', {'id': lieux[i].id}) }}"><button class="btn btn-warning">Modifier</button></a>
                </td>
            </tr>{% endfor %}
        {% else %}
            <tr>
                <td colspan="6"></td>
            </tr>
        {% endif %}

        </tbody>
    </table>

    <a href="{{ path('lieu_new') }}" class="btn btn-success">Créer un nouveau lieu</a>
{% endblock %}
