{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Détails lieu {% endblock %}

{% block body %}
    <h1>Détails du lieu {{ lieu.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieu.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lieu.nom }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ lieu.rue }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ lieu.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lieu_list') }}">Retour</a>

    <a href="{{ path('lieu_edit', {'id': lieu.id}) }}">Modifier</a>

    {{ include('lieu/_delete_form.html.twig') }}
{% endblock %}
