{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{{ form_start(form) }}

    {{ form_widget(form) }}


<button class="btn btn btn-success">{{ button_label|default('Sauvegarder') }}</button>

<a class="btn btn btn-danger" onclick="history.go(-1);">{{ button_return|default('Retour') }}</a>


{{ form_end(form) }}
