{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Liste Participant {% endblock %}

{% block body %}

    <h1>Gestion Participants</h1>
    <div class="d-flex gap-2">
        <div>
            <a class="btn btn-success" href="{{ path('participant_new') }}">Ajouter un utilisateur</a>
            <button class="btn btn-info" onclick='toggleHtmlElementVisibility("form-csv")'>Importer CSV</button>
        </div>

        <div id="form-csv" class="invisible">
            {{ form_start(form) }}
            <div class="d-flex align-items-center gap-2">
                {{ form_widget(form.moncsv) }}
                <button class="btn btn-success">Valider</button>
                <a href="{{ path('download_file', {'fileDirectory' : 'ressources_files_directory', 'fileName' : 'UserCsvTemplate.xlsm'}) }}">Télécharger template</a>
            </div>
            {{ form_end(form) }}
        </div>

    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Campus</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Actif</th>
            <th>Admin</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for i in 0..participants|length-1 %}
            <tr class="hover-pointer table-{% if i is even %}info{% else %}secondary{% endif %}">
                <td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].pseudo }}</td>
                <td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].nom }}</td>
                <td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].prenom }}</td>
                <td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].campus.nom }}</td>
                <td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].telephone }}</td>
                <td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].email }}</td>
                <td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].actif ? 'x' : ' ' }}</td>
                <td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].administrateur ? 'x' : ' ' }}</td>
                <td>{{ include ('participant/_delete_form.html.twig', {'participant' : participants[i]}) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}