{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Liste Participant {% endblock %}

{% block body %}

	<h1>Gestion Participants</h1>
	<a id="test" onclick="recupValeurs();" href="{{ path('participant_list') }}"> test </a>
	{#    <a id="test" onclick="recupValeurs();" href="#"> test </a> #}


	<div class="d-flex gap-2">
		<div>
			<a class="btn btn-success" href="{{ path('participant_new') }}">Ajouter un utilisateur</a>
			<button class="btn btn-info" onclick='toggleHtmlElementVisibility("form-csv")'>Importer CSV</button>
		</div>

		<div id="form-csv" class="invisible">
			{{ form_start(form) }}
			<div class="d-flex align-items-center gap-2">
				{{ form_widget(form.moncsv) }}
				<button class="btn btn-success">Valider</button>
				<a href="{{ path('download_file', {'fileDirectory' : 'ressources_files_directory', 'fileName' : 'UserCsvTemplate.xlsm'}) }}">Télécharger
					template</a>
			</div>
			{{ form_end(form) }}
		</div>

	</div>

	{{ include('inc/liste_users.html.twig') }}

	<script>

        let results = [];

        function checkEtat(id) {

            if (results.includes(id)) {
                results.splice(results.indexOf(id), 1)
            } else {
                results.push(id);
            }

        }

        function recupValeurs() {

            let validation = document.getElementById('test')
            let lien = validation.getAttribute("href");

            lien += "?"

            for (let i = 0; i < results.length; i++) {
                lien += "resultat[]=" + results[i] + "&";
            }
            validation.setAttribute("href", lien);
        }

	</script>

{% endblock %}