{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Liste Campus {% endblock %}

{% block body %}
    <h1>Campus index</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Campus</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for i in 0..campuses|length %}

            <tr class="hover-pointer table-{% if i is even %}info{% else %}secondary{% endif %}">

                {% if i != campuses|length %}

                    <td onclick="document.location.href='{{ path('campus_edit', {'nom': campuses[i].nom}) }}'">
                        {{ campuses[i].nom }}
                    </td>
                    <td>
                        {{ include ('campus/_delete_form.html.twig', {'campus' : campuses[i]}) }}
                    </td>

                {% else %}

                    {{ form_start(form) }}

                    <td>{{ form_widget(form.nom) }}</td>
                    <td>{{ include('inc/buttons.html.twig', {'isForm': true, 'new': true}) }}</td>

                    {{ form_end(form) }}

                {% endif %}

            </tr>

        {% else %}
            <tr>
                <td colspan="3">Aucun campus trouvé</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('campus_new') }}">Create new</a>
{% endblock %}
