{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Liste Campus {% endblock %}

{% block body %}
	<h1>Campus index</h1>

	<div class="my-4">
		{{ form_start(searchForm) }}
		<div class="d-inline-block"> {{ form_widget(searchForm) }} </div>
		<button type="submit" class="btn btn-info btn-sm border-dark border-3 shadow">Rechercher</button>
		{{ form_end(searchForm) }}
	</div>

	<table class="table">
		<thead>
		<tr>
			<th>Campus</th>
			<th class="w-25">Actions</th>
		</tr>
		</thead>
		<tbody>
		{% for i in 0..campus|length-1 %}
			<tr class="table-{% if i is even %}info{% else %}secondary{% endif %}">
				<td>{{ campus[i].nom }}</td>
				<td>{{ include('inc/buttons.html.twig', {'update':true, 'delete': true, 'id': campus[i].id, 'type': 'campus'}) }}</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="3">Aucun campus trouvé</td>
			</tr>
		{% endfor %}

		<tr>
			{{ form_start(form) }}
			<td>{{ form_widget(form.nom) }}</td>
			<td>{{ include('inc/buttons.html.twig', {'isForm': true, 'new': true}) }}</td>
			{{ form_end(form) }}
		</tr>

		</tbody>
	</table>

{% endblock %}
