{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
{{ form_start(form) }}
<div class="d-flex flex-column-reverse">

	{#    {{ form_row(form.lieu) }} #}

	<div>
		<div class="d-flex">
			{{ form_label(form.lieu) }}
			{{ form_widget(form.lieu) }}
			<a class="btn btn-info" href="{{ path('lieu_new') }}" onclick="store()">+</a>
		</div>
	</div>


	<div>
		{{ form_rest(form) }}
	</div>

</div>

<input type="submit" name="enregistrer" class="btn btn-success" value="Enregistrer">
<input type="submit" name="publier" class="btn btn-warning" value="Publier la sortie">

{{ form_end(form) }}

{% if app.request.get('_route') == "sortie_edit" %}
	{{ include('sortie/_delete_form.html.twig') }}
{% endif %}