{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Sortie index{% endblock %}

{% block body %}

	<div class="d-flex justify-content-end container">
		<div>
			<p>Date du jour : {{ 'now' | date('d-m-Y') }}</p>
			<p>Participant : {{ app.user.prenom }} {{ app.user.nom[:1]|upper }}.</p>
		</div>
	</div>


	{{ form_start(form) }}
	<fieldset class="fieldsetSortiesForm">
		<legend class="m-3">Filtrer les sorties</legend>

		<div class="d-flex row justify-content-center m-3">
			<div class="col-5 d-flex flex-column">

				{{ form_row(form.campus) }}

				{{ form_row(form.searchOutingName) }}

				<div class="d-flex flex-row flex-wrap">
					{{ form_row(form.dateOutingStart) }}
					{{ form_row(form.dateOutingEnd) }}
				</div>
			</div>

			<div class="col-4">
				<div style="text-overflow: '-'">{{ form_widget(form.sortiesOrganisateur) }} {# trouver comment mettre le texte à la ligne text-overflow ne fonctionne pas #}
					{{ form_label(form.sortiesOrganisateur) }}</div>
				<div>{{ form_widget(form.sortiesInscrit) }}
					{{ form_label(form.sortiesInscrit) }}</div>
				<div>{{ form_widget(form.sortiesNonInscrit) }}
					{{ form_label(form.sortiesNonInscrit) }}</div>
				<div>{{ form_widget(form.sortiesPassees) }}
					{{ form_label(form.sortiesPassees) }}</div>
			</div>

			<div class="col-3 d-flex justify-content-center align-items-start">
				<button type="submit" class="btn btn-info btn-lg border-dark border-3 shadow">Rechercher
				</button>
			</div>

		</div>
	</fieldset>
	{{ form_end(form) }}

	<table class="table mb-5 mt-5">
		<thead>
		<tr>
			<th>Nom de la sortie</th>
			<th>Date de la sortie</th>
			<th>Clôture</th>
			<th>Inscrits/places</th>
			<th>Etat</th>
			<th>Inscrit</th>
			<th>Organisateur</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{% for sortie in sorties %}
			{#            {% if date('now').diff(date(sortie.dateHeureDebut)) < '30' %} #}
			<tr>
				<td>{{ sortie.nom }}</td>
				<td>{{ sortie.dateHeureDebut|date('Y-m-d H:i') }}</td>
				<td>{{ sortie.dateLimiteInscription|date('Y-m-d') }}</td>
				<td>{{ sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}</td>
				<td>{{ sortie.etat.libelle }}</td>
				<td>{{ sortie in app.user.sortiesInscrit ? "X" }}</td>
				<td class="detail-participant-deform"><a
							href="{{ path('participant_profil', {'pseudo': sortie.organisateur.pseudo}) }}">{{ sortie.organisateur.pseudo }}</a>
				</td>
				<td>
					{# un admin et un organisateur peuvent annuler une sortie (tant que date sortie n'est pas dépassée)
						annule => sortie marquée comme annulée + message du motif
					un user peut s'inscrire à une sortie
					un participant peut se désister tant que date sortie non dépassée
					pas d'inscription après date clôture des inscriptions
					si date sortie +1 mois => non consultable (classer les sorties par date de clôture DESC)
					#}

					<a href="{{ path('sortie_show', {'id': sortie.id}) }}" class="text-decoration-none">
						<button class="btn btn-info">Détails</button>
					</a>

					{% if app.user == sortie.organisateur %}
						<a href="{{ path('sortie_edit', {'id': sortie.id}) }}" class="text-decoration-none">
							<button class="btn btn-warning">Modifier</button>
						</a>
					{% endif %}

					{% if sortie in app.user.sortiesInscrit and sortie.dateHeureDebut < date() %}
						<a href="{{ path('sortie_edit', {'id': sortie.id}) }}" class="text-decoration-none">
							<button class="btn btn-warning">Se désister</button>
						</a>
					{% elseif sortie.dateLimiteInscription >= date() and app.user != sortie.organisateur %}
						<a href="{{ path('sortie_edit', {'id': sortie.id}) }}" class="text-decoration-none">
							<button class="btn btn-success">S'inscrire</button>
						</a>
					{% endif %}
					{# modifier la méthode pour que la sortie ne soit pas supprimée de la BDD mais soit modifiée pour donner un message de motif d'annulation #}
					{# Actuellement, le lien permet la suppression. #}
					{% if is_granted('ROLE_ADMIN') or app.user == sortie.organisateur %}
						<a href="{{ path('sortie_cancellation', {'id': sortie.id}) }}" class="text-decoration-none">
							<button class="btn btn-danger">Annuler la sortie</button>
						</a>
					{% endif %}
				</td>
			</tr>
			{#            {% endif %} #}
		{% else %}
			<tr>
				<td colspan="8">Aucune sortie n'est prévue. N'hésitez pas à en organiser une !</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>



	<a href="{{ path('sortie_new') }}">
		<button class="btn btn-success btn-lg">Organiser une sortie</button>
	</a>
{% endblock %}
