{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('Y-m-d H:i:s')}}</td>
                <td>{{ sortie.dateLimiteInscription|date('Y-m-d')}}</td>
                <td>{{ sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ sortie in app.user.sortiesInscrit ? "X"}}</td>
                <td>{{ sortie.organisateur.pseudo}}</td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">show</a>
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}">Create new</a>
{% endblock %}
