{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('Y-m-d H:i')}}</td>
                <td>{{ sortie.dateLimiteInscription|date('Y-m-d')}}</td>
                <td>{{ sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ sortie in app.user.sortiesInscrit ? "X"}}</td>
                <td>{{ sortie.organisateur.pseudo}}</td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Détails</a>
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                    {% if sortie in app.user.sortiesInscrit %}
                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Se désister</a>
                    {% else %}
                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">S'inscrire</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('sortie_delete') }}">Annuler</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune sortie n'est prévue. N'hésitez pas à en organiser une !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}">Create new</a>
{% endblock %}
