{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Éditer une Ville {% endblock %}

{% block body %}

    <div class="d-flex flex-column align-items-center">

        <h1>Modification d'une ville</h1>

        <div style="width: 51%">
            {% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

            {{ form_start(form) }}

            {{ form_widget(form) }}
        </div>

        <div class="d-flex">
            {{ include('inc/buttons.html.twig', {'isForm': true, 'update': true, 'bigButton': true}) }}

            {{ include('inc/buttons.html.twig', {'return': true, 'bigButton': true, 'type': 'ville'}) }}

            {{ form_end(form) }}
        </div>


    </div>

{% endblock %}
