{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Éditer une Ville {% endblock %}

{% block body %}

	<h1>Modification d'une ville</h1>

	<div class="container">
		<div class="d-flex align-items-center justify-content-center flex-column vh-100">
			<div>

				{{ form_start(form) }}

				{{ form_widget(form) }}

				{{ include('inc/buttons.html.twig', {'isForm': true, 'update': true, 'bigButton': true}) }}

				{{ include('inc/buttons.html.twig', {'return': true, 'bigButton': true, 'type': 'ville'}) }}

				{{ form_end(form) }}

			</div>
		</div>
	</div>

{% endblock %}
