{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Liste des Villes {% endblock %}

{% block body %}
    <h1>Liste des villes</h1>

    <div class="my-4">
        {{ form_start(searchForm) }}
        <div class="d-inline-block {% if not searchForm.vars.valid %} alert alert-danger {% endif %} "> {{ form_label(searchForm.pattern) }} {{ form_widget(searchForm.pattern) }} </div>
        <button type="submit" class="btn btn-info btn-sm border-dark border-3 shadow">Rechercher</button>
        {{ form_end(searchForm) }}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Code postal</th>
            <th class="w-25">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% if villes|length %}
            {% for i in 0..villes|length %}

                <tr class="table-{% if i is even %}info{% else %}secondary{% endif %}">
                    {% if i == villes|length %}

                        {{ form_start(form) }}
                        <td {% if not form.vars.valid %} class="bg-danger" {% endif %}>{{ form_widget(form.nom) }}</td>
                        <td {% if not form.vars.valid %} class="bg-danger" {% endif %}>{{ form_widget(form.codePostal) }}</td>
                        <td>{{ include('inc/buttons.html.twig', {'isForm': true, 'new': true}) }}</td>
                        {{ form_end(form) }}

                    {% else %}

                        <td>{{ villes[i].nom }}</td>
                        <td>{{ villes[i].codePostal }}</td>
                        <td>{{ include('inc/buttons.html.twig', {'update':true, 'delete': true, 'id': villes[i].id, 'type': 'ville'}) }}</td>

                    {% endif %}
                </tr>

            {% endfor %}

        {% else %}
            <tr>
                <td colspan="3">Aucune ville définie</td>
            </tr>
        {% endif %}

        </tbody>
    </table>

{% endblock %}
