{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des groupes privés{% endblock %}

{% block body %}
	<h1>Liste de mes groupes privés</h1>

	<table class="table">
		<thead>
		<tr>
			<th>Nom</th>
			<th>Participants</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{% if app.user.groupesOrganises|length %}
			{% for i in 0..app.user.groupesOrganises|length -1 %}

				<tr class="table-{% if i is even %}info{% else %}secondary{% endif %}">

					<td>{{ app.user.groupesOrganises[i].nom }}</td>
					<td>
						<ol>
							{% for participant in app.user.groupesOrganises[i].participant %}
								{# boucle foreach donc on travaille directement sur le participant : réécrire "app.user.groupesOrganises[i]." serait une erreur #}
								<li>{{ participant.nom }} {{ participant.prenom }}</li>
							{% endfor %}
						</ol>
					</td>
					<td><a href="{{ path('groupe_prive_edit', {'id': app.user.groupesOrganises[i].id}) }}"
					       class="btn btn-warning text-decoration-none">Modifier</a>
						{{ include('groupe_prive/_delete_form.html.twig') }}</td>

				</tr>
			{% endfor %}

		{% else %}
			<tr>
				<td colspan="3">Vous n'avez créé aucun groupe privé.</td>
			</tr>
		{% endif %}
		</tbody>
	</table>

	<a href="{{ path('groupe_prive_new') }}">
		<button class="btn btn-success">Créer un groupe privé</button>
	</a>
{% endblock %}
