{% if not bigButton|default(false) %} {% set size = 'btn-sm' %} {% else %} {% set size='' %}{% endif %}

{% if not isForm|default(false) %}

	{% if new|default(false) %}
		<a class="text-decoration-none" href="{{ path(type ~ '_new') }}">
			<button class="btn btn-success {{ size }}">Ajouter</button>
		</a>
	{% endif %}

	{% if update|default(false) %}
		<a class="text-decoration-none" href="{{ path(type ~ '_edit', {'id': id}) }}">
			<button class="btn btn-warning {{ size }}">Modifier</button>
		</a>
	{% endif %}

	{% if delete|default(false) %}
		<form method="post" action="{{ path(type ~ '_delete', {'id': id}) }}" class="d-inline-block" onsubmit="return (function(e){ e.stopPropagation(); return confirm('Etes-vous sûr ?'); })(event)">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
			<button class="btn btn-danger {{ size }}">Supprimer</button>
		</form>
	{% endif %}

	{% if return|default(false) %}
		<a class="text-decoration-none" href="{{ path(type ~ '_list') }}">
			<button class="btn btn-success {{ size }}">Retour</button>
		</a>
	{% endif %}

{% else %}

	{% if new|default(false) %}
		<button class="btn btn-success {{ size }}">Ajouter</button>
	{% endif %}

	{% if update|default(false) %}
		<button class="btn btn-warning {{ size }}">Modifier</button>
	{% endif %}

{% endif %}
