<table class="table table-hover">
	<thead>
	<tr>
		<th>{{ include('inc/thead_listes.html.twig', {'nomColonne' : 'Pseudo', 'colonneTable' : 'pseudo'}) }}</th>
		<th>{{ include('inc/thead_listes.html.twig', {'nomColonne' : 'Nom', 'colonneTable' : 'nom'}) }}</th>
		<th>{{ include('inc/thead_listes.html.twig', {'nomColonne' : 'Prénom', 'colonneTable' : 'prenom'}) }}</th>
		<th>{{ include('inc/thead_listes.html.twig', {'nomColonne' : 'Campus', 'colonneTable' : 'campus'}) }}</th>
		<th>Téléphone</th>
		<th>{{ include('inc/thead_listes.html.twig', {'nomColonne' : 'Email', 'colonneTable' : 'email'}) }}</th>
		<th>{{ include('inc/thead_listes.html.twig', {'nomColonne' : 'Actif', 'colonneTable' : 'actif'}) }}</th>
		<th>{{ include('inc/thead_listes.html.twig', {'nomColonne' : 'Admin', 'colonneTable' : 'administrateur'}) }}</th>
		<th>{{ app.request.get('_route') == 'participant_list' ? 'Action' : 'Ajouter' }}</th>
	</tr>
	</thead>
	<tbody>
	{% for i in 0..participants|length-1 %}
		<tr class="hover-pointer table-{% if i is even %}info{% else %}secondary{% endif %}">
			<td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].pseudo }}</td>
			<td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].nom }}</td>
			<td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].prenom }}</td>
			<td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].campus.nom }}</td>
			<td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].telephone }}</td>
			<td onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].email }}</td>
{#			<td class="text-center" onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].actif ? 'x' : ' ' }}</td>#}
			{% if app.request.get('_route') == 'participant_list' %}
				<td class="text-center"><input class="pb-2" type="checkbox" onclick="checkEtat({{ participants[i].id }})" name="actif" {{ participants[i].actif  ? "checked" }}></td>
			{% else %}
				<td class="text-center">{{ participants[i].actif  ? "x" }}</td>
			{% endif %}
			<td class="text-center" onclick="document.location.href='{{ path('participant_edit', {'pseudo': participants[i].pseudo}) }}'">{{ participants[i].administrateur ? 'x' : ' ' }}</td>
			<td> {% if app.request.get('_route') == 'participant_list' %}
				<div>
					{{ include ('participant/_delete_form.html.twig', {'participant' : participants[i]}) }}
				</div>
				{% else %}
				<div class="d-flex justify-content-center">
					<input type="checkbox" {{ participants[i] in groupe_prive.participant ? "checked" : "toto"  }} class="me-5 mt-1" name="participants[{{ participants[i].id }}]">
					{# le name de la checkbox ressemble à un tableau
															=> Symfony met les valeurs sous forme de tableau
															renvoyé au controller sous le nom du tableau, ici "participants" #}
				</div>
			</td>
			{% endif %}
		</tr>
	{% else %}
		<tr>
			<td colspan="12">Aucun participant.</td>
		</tr>
	{% endfor %}
	</tbody>
</table>